.pfe\.pfecompositeAddressControl input[type=text].oeinput{
    margin: 0 35px 0 7px;
    width: 50%;
    height: 2.5rem;
    line-height: 2.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-style: solid;
    border-width: 1px;
    padding-bottom: 0px;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(0,0,0);
    border-color: transparent;
    
    }
    .pfe\.pfecompositeAddressControl .container{
        display: flex;
        align-items:center;
        position:relative;
    }
    .pfe\.pfecompositeAddressControl .field{
        font-weight: bold;
    }
    .pfe\.pfecompositeAddressControl .wrapper{
        position:relative;
    }
    .pfe\.pfecompositeAddressControl .reactinput{
        width:100%;
        font-weight: bold;
    }
    .pfe\.pfecompositeAddressControl .reactbutton{
        z-index: 2;
        top: 0;
        right: 0;
        position: absolute;
    
    }
    .pfe\.pfecompositeAddressControl .closebutton {
        top: 0;
        right: 0;
        position: absolute;
    }